@inherits LayoutComponentBase
@using Radzen

<PageTitle>MokupExampleBlazor</PageTitle>
<Radzen.Blazor.RadzenDialog />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="https://uploads-ssl.webflow.com/5ece182a5425b358254f3107/62bb4788953bc0306e055e1f_04-DEEDCON_Logoschriftzug_%2B_2022-p-500.png" alt="DeedCon" width="180px">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
